.p-modal-window {
  position: fixed;
  display: block;
  width: 60%;
  z-index: 2;
  margin: 0 auto;
  &__window {
    background: $color-white;
    border: 1px solid $color-border;
    border-radius: $radius-card;
  }
  &__text {
    margin: $spacer-l;
  }
  &__button {
    background-color: $color-sub;
    border-radius: $radius-button;
    color: $color-white;
    display: block;
    font-size: $font-size-l;
    height: 30px;
    margin: $spacer-l auto;
    width: 70px;
  }
}